<#import "template.ftl" as layout>
<@layout.registrationLayout displayInfo=true; section>
    <#if section = "header">
        <img id="img" src="${url.resourcesPath}/img/Meteosol-Logo.jpg">
        <h2 id="loginTotpTitle">
            ${msg("loginTotpTitle")}
        </h2>
    <#elseif section = "form">
      <form action="${url.loginAction}" class="${properties.kcFormClass!}" id="kc-totp-settings-form" method="post">

        <ol id="kc-totp-settings">
            <li>
               <p>${msg("loginTotpStep1")}</p>

               <ul id="kc-totp-supported-apps">
                     <#list totp.policy.supportedApplications as app>
                    <li>
                    ${app}
                    </li>
                    </#list>
               </ul>
           </li>

           <#if mode?? && mode = "manual">
                <li>
                  <p>${msg("loginTotpManualStep2")}</p>
                  <p><span id="kc-totp-secret-key">${totp.totpSecretEncoded}</span></p>
                  <p><a href="${totp.qrUrl}" id="mode-barcode">${msg("loginTotpScanBarcode")}</a></p>
                </li>
                <li>
                    <p>${msg("loginTotpManualStep3")}</p>
                    <p>
                       <ul>
                          <li id="kc-totp-type">${msg("loginTotpType")}: ${msg("loginTotp." + totp.policy.type)}</li>
                          <li id="kc-totp-algorithm">${msg("loginTotpAlgorithm")}: ${totp.policy.getAlgorithmKey()}</li>
                          <li id="kc-totp-digits">${msg("loginTotpDigits")}: ${totp.policy.digits}</li>
                          <#if totp.policy.type = "totp">
                             <li id="kc-totp-period">${msg("loginTotpInterval")}: ${totp.policy.period}</li>
                          <#elseif totp.policy.type = "hotp">
                             <li id="kc-totp-counter">${msg("loginTotpCounter")}: ${totp.policy.initialCounter}</li>
                          </#if>
                       </ul>
                    </p>
                </li>
           <#else>
                <li>
                      <p>${msg("loginTotpStep2")}</p>
                      <div id="kc-totp-secret-qr-code" >
                        <img src="data:image/png;base64, ${totp.totpSecretQrCode}" alt="Figure: Barcode">
                      </div>
                      <br/>
                      <p><a href="${totp.manualUrl}" id="mode-manual">${msg("loginTotpUnableToScan")}</a></p>
                </li>
           </#if>
           <li>
                 <p>${msg("loginTotpStep3")}</p>
           </li>
        </ol>
        <div class="${properties.kcFormGroupClass!}">
            <br/>
            <div class="${properties.kcInputWrapperClass!}">
               <input type="text" id="totp" name="totp" autocomplete="off" class="${properties.kcInputClass!}" />
            </div>
            <input type="hidden" id="totpSecret" name="totpSecret" value="${totp.totpSecret}" />
        </div>
        </br>
        <input id="inputButton" class="${properties.kcButtonClass!} ${properties.kcButtonPrimaryClass!}
                                      ${properties.kcButtonBlockClass!} ${properties.kcButtonLargeClass!}"
                                 type="submit"
                                value="${msg("doSubmit")}"
        />
        <br/>
      </form>
    </#if>
</@layout.registrationLayout>
