*{
    font-family: europa, sans-serif;
    line-height: 2.5rem;
    color: #666;
}

nav {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#lang-menu {
    width: 100px;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}

#lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

#lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

#lang-menu ul li:hover {
    background-color: #f2f2f2;
}

#lang-menu:hover ul {
    display: block;
}

#img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
}

body{
    font-size: 1.25rem;
    font-weight: 300;
}

#loginTitle, #kc-registration, #kc-form-options, #RegistrationTitle,#ForgotPassword,.backToLoginFromForgotPswd,
#kc-error-message,#errorTitle,#pageExpiredTitle,#instruction1,#pf-alert,#emailVerifyTitle,#emailVerifyInstruction,
#emailVerifyInstruction,#updatePasswordTitle,#loginTotpTitle,#kc-totp-secret-qr-code{
    text-align:center;
}

label,#username , #password ,#firstName, #lastName,#email, #confirmPassword, #password-confirm,#inputError,
#input-error-username,#password-new,#input-error-password-confirm,#input-error-password,#totp{
    margin-left:5%;
}

#inputError,#input-error-username,#input-error-password-confirm,#pf-alertColor,#input-error-password{
    color:red;
}

form{
    margin-left:auto;
    margin-right:auto;
    border: none;
    border-bottom: 2px solid #666;
    border-radius: 3rem;
    box-shadow: 0 .9375rem 1.5625rem #00000026;
    overflow: hidden;
    height: unset;
    width:40%;
}

#inputButton ,#submitRegistration,#resetPswdSubmitButton{
    justify-content:center;
    font-size:100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    min-width: 13.125rem;
    transition: transform .3s cubic-bezier(.39,-.05,.24,1.41);
    background: #fff;
    box-shadow: 0 8px 15px #0000001A;
    border-radius: 1rem;
    border: none;
    padding: 0.9375rem 1.5625rem;
    cursor:pointer;
}

#inputButton:hover,#submitRegistration:hover {
        transform:scale(1.08);
        }

#username , #password ,#firstName, #lastName,#email, #confirmPassword, #password-confirm,#password-new,#totp{
       font-size:16pt;
       width:90%;
       border: none;
       border-bottom: 2px solid #666;
}

h1{
    font-size: 6.25rem;
    font-weight: 700;
}

h2{
    font-size: 3.125rem;
    font-weight: 700;
}

h3 {
    font-size: 1.36rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
}

#RegisterLink, #backToLoginFromRegister,#ForgotPasswordLink,#backToLoginFromForgotPswdLink{
    color: #0066CC ;}
